In [137]:
import pandas as pd

In [138]:
data = pd.read_csv("C:\\Users\\RTGMbappe\\Documents\\Employees.txt", sep=" ", header=None)

In [139]:
data.columns = ["StaffID", "LastName", "FirstName", "RegHours", "HourlyRate", "OTMultiple", "TaxCredit", "StandardBand"]

In [140]:
data

,StaffID,LastName,FirstName,RegHours,HourlyRate,OTMultiple,TaxCredit,StandardBand
0,12345,Green,Joe,37,16,1.5,70,700
1,78905,Nathan,Drake,45,16,2.0,90,800

In [141]:
data['StaffID'][0]

12345

In [142]:
hours_data = pd.read_csv("C:\\Users\\RTGMbappe\\Documents\\hours.txt", sep=" ", header=None)

In [143]:
hours_data.columns = ["StaffID" ,"Date", "HoursWorked"]

'Regular Rate':16,'Overtime Rate':24, 'Regular Pay':592,'Overtime Pay':120,'Gross Pay':712, 'Standard Rate Pay':700,'Higher Rate Pay':12, 'Standard Tax':140,'Higher Tax':4.8,'Total Tax':144.8,'Tax Credit':70,'Net Deductions':74.8, 'Net Pay': 637.2}

In [144]:
hours_data.columns = ["StaffID" ,"Date", "HoursWorked"]
#p1 = Employees(42 ,'31/10/2021')
#p1.myfunc()
hours_data.columns = ["StaffID" ,"Date", "HoursWorked"]

In [145]:
hours_data["Date"]

0    31/10/2021
1     1/11/2021
2    12/11/2021
Name: Date, dtype: object

In [152]:
class Employees:
    def __init__(self, StaffID, LastName, FirstName, RegHours, HourlyRate, OTMultiple, TaxCredit,StandardBand, work_time, work_date):
        self.StaffID = StaffID
        self.LastName = LastName
        self.FirstName = FirstName
        self.RegHours = int(RegHours)
        self.HourlyRate = int(HourlyRate)
        self.OTMultiple = float(OTMultiple)
        self.TaxCredit = int(TaxCredit)
        self.StandardBand = int(StandardBand)
        self.work_time = work_time
        self.work_date = work_date
        self.emp_dict = {}
    def compute_payment(self, hours, date):
        if date == self.work_date:
            name = self.FirstName + " "+ self.LastName
            self.emp_dict["name"] = name
            self.emp_dict["Date"] = date
            self.emp_dict["Regular Hours Worked"] = self.RegHours
            ot_hrs = hours - self.RegHours
            self.emp_dict["Overtime Hours Worked"] = ot_hrs
            self.emp_dict["Regular Rate"] = self.HourlyRate
            self.emp_dict["Overtime Rate"] = self.HourlyRate * self.OTMultiple
            self.emp_dict["Regular Pay"] = self.HourlyRate * self.RegHours
            self.emp_dict["Overtime Pay"] = (self.HourlyRate * self.OTMultiple) * ot_hrs
            gross_pay = (self.HourlyRate * self.RegHours) + ((self.HourlyRate * self.OTMultiple) * ot_hrs)
            self.emp_dict["Gross Pay"] = gross_pay

            self.emp_dict["Standard Rate Pay"] = self.StandardBand
            high_pay = ((self.HourlyRate * self.RegHours) + ((self.HourlyRate * self.OTMultiple) * ot_hrs)) - self.StandardBand
            self.emp_dict["Higher Rate Pay"] = high_pay
            self.emp_dict["Standard Tax"] = self.StandardBand * (20/100)
            self.emp_dict["Higher Tax"] = high_pay * (40/100)
            total_tax = self.StandardBand * (20/100) + high_pay * (40/100)
            self.emp_dict["Total Tax"] = total_tax
            self.emp_dict["Tax Credit"] = self.TaxCredit
            net_deds = total_tax - self.TaxCredit
            self.emp_dict["Net Deductions"] = net_deds
            self.emp_dict["Net Pay"] = gross_pay - net_deds
            return self.emp_dict
        else:
            print("No date entry")

In [153]:
jg = Employees(str(data['StaffID'][0]),str(data['LastName'][0]), str(data['FirstName'][0]), str(data['RegHours'][0]), str(data['HourlyRate'][0]),
       str(data['OTMultiple'][0]), str(data['TaxCredit'][0]), str(data['StandardBand'][0]), str(hours_data["HoursWorked"][0]), str(hours_data["Date"][0]))

In [154]:
jg.compute_payment(42 ,'31/10/2021')

{'name': 'Joe Green',
 'Date': '31/10/2021',
 'Regular Hours Worked': 37,
 'Overtime Hours Worked': 5,
 'Regular Rate': 16,
 'Overtime Rate': 24.0,
 'Regular Pay': 592,
 'Overtime Pay': 120.0,
 'Gross Pay': 712.0,
 'Standard Rate Pay': 700,
 'Higher Rate Pay': 12.0,
 'Standard Tax': 140.0,
 'Higher Tax': 4.800000000000001,
 'Total Tax': 144.8,
 'Tax Credit': 70,
 'Net Deductions': 74.80000000000001,
 'Net Pay': 637.2}

Object 2

In [155]:
nd = Employees(str(data['StaffID'][1]),str(data['LastName'][1]), str(data['FirstName'][1]), str(data['RegHours'][1]), str(data['HourlyRate'][1]),
       str(data['OTMultiple'][1]), str(data['TaxCredit'][1]), str(data['StandardBand'][1]), str(hours_data["HoursWorked"][1]), str(hours_data["Date"][1]))

In [156]:
nd.compute_payment(56 ,'1/11/2021')

{'name': 'Drake Nathan',
 'Date': '1/11/2021',
 'Regular Hours Worked': 45,
 'Overtime Hours Worked': 11,
 'Regular Rate': 16,
 'Overtime Rate': 32.0,
 'Regular Pay': 720,
 'Overtime Pay': 352.0,
 'Gross Pay': 1072.0,
 'Standard Rate Pay': 800,
 'Higher Rate Pay': 272.0,
 'Standard Tax': 160.0,
 'Higher Tax': 108.80000000000001,
 'Total Tax': 268.8,
 'Tax Credit': 90,
 'Net Deductions': 178.8,
 'Net Pay': 893.2}

In [99]:
import unittest

In [123]:
import unittest

class TestNotebook(unittest.TestCase):
    
    def test_add(self):
        def testNetLessEqualGross(self):
          jg = Employees(str(data['StaffID'][0]),str(data['LastName'][0]), str(data['FirstName'][0]), str(data['RegHours'][0]), str(data['HourlyRate'][0]),
           str(data['OTMultiple'][0]), str(data['TaxCredit'][0]), str(data['StandardBand'][0]), str(hours_data["HoursWorked"][0]), str(hours_data["Date"][0]))
          pi= jg.compute_payment(42,'31/10/2021')
          self.assertLessEqual(pi['Net Pay'],pi['Gross Pay'])
          self.

unittest.main(argv=[''], verbosity=2, exit=False)

test_add (__main__.TestNotebook) ... ok
testNetLessEqualGross (__main__.TestStringMethods) ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.003s

OK