In [5]:
import pandas as pd

In [14]:
data = pd.read_csv("C:\\Users\\RTGMbappe\\Documents\\Employees.txt", sep=" ", header=None)

In [15]:
data.columns = ["StaffID", "LastName", "FirstName", "RegHours", "HourlyRate", "OTMultiple", "TaxCredit", "StandardBand"]

In [16]:
data

,StaffID,LastName,FirstName,RegHours,HourlyRate,OTMultiple,TaxCredit,StandardBand
0,12345,Green,Joe,37,16,1.5,70,700

In [21]:
data['StaffID'][0]

12345

In [19]:
hours_data = pd.read_csv("C:\\Users\\RTGMbappe\\Documents\\hours.txt", sep=" ", header=None)

In [ ]:
hours_data.columns = []

In [24]:
class Employees:
        # Class Variable
               
       
    # The init method or constructor
        def __init__(self, hours, date):

            # Instance Variable    
            self.hours = hours
            self.date = date
        def myfunc(self):
            print("Hello my hours are is " + str(self.hours))
            
p1 = Employees(42 ,'31/10/2021')
p1.myfunc()

Hello my hors are is 42